@model EducationManager2.Models.GradeDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Course
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeView.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradeView.GradeNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GradeView.GradeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradeView.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GradeView.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradeView.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GradeView.Note)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GradeView.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
