@model EducationManager2.Models.CourseDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseView.CourseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseView.CourseNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseView.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseView.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseView.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseView.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseView.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
